MAIN_VITE_SERVER_URL=http://127.0.0.1:7384
MAIN_VITE_CLIENT_VERSION=live
MAIN_VITE_REALM_LIST=127.0.0.1
MAIN_VITE_PATCH_LIST=127.0.0.1
MAIN_VITE_REALM_NAME=Esteria
MAIN_VITE_NEWS_URL=
MAIN_VITE_FORUM_URL=
